<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>


<body>
<!-- Вставляем шапку -->
<div th:insert="~{header.html :: head}"></div>

<div class="container" style="height: 60%">

    <script type="text/javascript">
        var block = document.getElementById("block");
        block.scrollTop = block.scrollHeight;
    </script>

    <div class="scroll" id="scroll">
        <p th:each="con : ${console}" th:text="|[${#dates.format(con.date, 'dd-MM-yyyy HH:mm:ss')}]: ${con.txt}|"></p>
    </div>

    <script type="text/javascript">
        var block = document.getElementById("scroll");
        block.scrollTop = block.scrollHeight;
    </script>

   <form th:action="@{/console}" th:object="${command}" method="post">
        <fieldset>
            <legend>Консоль сервера</legend>
            <div class="command-enter">
                <label>Ввод команд:
                    <input type="text" placeholder="/help" th:field="*{txt}">
                </label>

                <button type="button">Команды</button>
                <button type="submit">Отправить</button>
            </div>

        </fieldset>
    </form>

</div> <!-- конец div class="container"-->

<!-- Вставляем футер -->
<div th:insert="~{footer.html :: foot}"></div>
</body>
</html>

</body>
</html>